<div class="row">
    <div class="col-md-12">
        <p-card>

            <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
                <h2 class="title">404 Página no encontrada</h2>
                <small class="sub-title">La página que estabas buscando no existe.</small>
                <form action="http://google.com.co">
                    <button type="submit" class="btn btn-block btn-hero-primary">
            Llévame a Google
        </button>
                </form>

            </div>

        </p-card>
    </div>
</div>